.table {
  width: 100%;

  .header, .row {
    display: flex;
    flex-direction: row;
    text-align: left;
    clear: both;
    align-items: center;

    .col {
      flex: 1;
      padding: 1%;
      text-overflow: ellipsis;
      overflow: hidden;

      .label {
        display: none;
        font-weight: bold;
        font-variant: small-caps;
      }
    }

    &:nth-child(odd) {
      background-color: #fafafa;
    }
  }

  .header {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 110%;
    cursor: pointer;
    border-bottom: 1px solid gray;

    .col:hover:after {
      font-size: 80%;
      float: right;
      content: " 🔻";
    }
  }

  .search {
    float: right;
    padding: .25%;
    font-size: inherit;
  }

  .nav {
    margin-top: 1%;
    text-align: center;
  }

  .btn {
    padding: .25%;
    cursor: pointer;
    font-size: inherit;

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 780px) {
  .table {
    .header {
      display: none;
    }

    .search {
      float: none;
      width: 100%;
      margin-bottom: 3%;
    }

    .nav .btn {
      width: 50%;
    }

    .row {
      display: block;

      &:not(:last-child) {
        margin-bottom: 3%;
      }

      .col {
        display: flex;
        flex-direction: row;

        .text, .label {
          display: inline-block;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}