.table {
  width: 100%;

  .header, .row {
    display: flex;
    flex-direction: row;
    text-align: left;
    clear: both;

    .col {
      flex: 1;
      padding: 1%;
      text-overflow: ellipsis;
      overflow: hidden;

      .label {
        display: none;
        font-weight: bold;
      }
    }

    &:nth-child(odd) {
      background-color: #fafafa;
    }
  }

  .header {
    font-weight: bold;
    cursor: default;
  }

  .search {
    float: right;
    padding: .25%;
  }

  .nav {
    margin-top: 1%;
    text-align: center;
  }

  .btn {
    padding: .25%;
    cursor: pointer;

    &[disabled] {
      opacity: .5;
    }
  }
}

@media only screen and (max-width: 780px) {
  .table {
    .header {
      display: none;
    }

    .row {
      display: block;

      &:not(:last-child) {
        margin-bottom: 3%;
      }

      .col {
        display: flex;
        flex-direction: row;

        .text, .label {
          display: inline-block;
          flex: 1;
        }
      }
    }
  }
}